/** use the border-box for the border around the text */
*{
    box-sizing: border-box;
   
}

body{
    background-color: #aad4cf;
   
}

.wrapper{/** the background was hard to fine a match to the color to the image on brightspace*/
    margin: 100px auto;
    width: 1000px;
    background-color:#abe2dc;
}
h2::after{
    content: "";
}

.contact li {
    background-color: black;
    display: inline-block;
    padding: 10px;
    height: 40px;
}


.contentformore{
    border: 2px solid black;
    background-color:  #c0e3df;
    
} /** use the three nav tag to fit the navbar in the center*/
nav{
    width: 100%;
    height: 100px;
    background-color: #abe2dc;
}
.navbar ul{
    list-style: none;
    background-color:#abe2dc ;
    padding: 0;
    margin: 0;
    text-align: center;
   
    

}
.navbar li{
    display: inline-block;
    border-right: 1px solid black;
   
}
.navbar a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
}


header{ 
    margin: 0;
    padding: 0;
    text-align:center; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.inline li{ /**this was hard because the yes no and maybe was hard to move in a row so I left it */
        display: inline;
    
}

.lone-starfish{
    background-color: #aad4cf;
    background-image: url(../image/lone-starfish-wide.jpg);
    background-position:bottom;
    text-align: center;
    text-indent: 5px;
    font-size: 200%;
    background-repeat: no-repeat;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
}

.life-of-a-starfish{
    background-color: #aad4cf;
    background-image: url(../image/lone-starfish.jpg);
    background-position: left;
    text-indent: 150px;
    font-size: 100%;
    width: 150px;
    height: 150px;

    
}
.contact{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 14px;
    justify-content: left;
    box-sizing: border-box;
    

}
.input-group{
    margin-bottom: 30px;
    
}
input, textarea{ /** use the textarea tag for the content for more */
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color:white ;
    background: transparent;
    font-size: 15px;
    resize: none;
    

}

ul.squre{
    width: 12%;
    float: left;
    box-sizing: content-box;
    list-style-type: square;
}

.facts-about-starfish h3{
    float: left;
    width: 20%;
   
}


.button{
    width: 100%;
    padding: 0;
    outline: 0;

    

}

footer{
    background-color:#aad4cf;
   width: 100%;
   text-align: right;
  
  
    
}
