*{
    box-sizing: border-box;
}

body{
    background-color: #aad4cf;
    


}

.wrapper{
    margin: 100px auto;
    width: 1000px;
    background-color:#abe2dc;
}
h2::after{
    content: "";
}
/*contact*/
.contact li {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 10px;
    height: 40px;
    
}

header{
    position: fixed;
    text-align:center; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}

.lone-starfish{
    background-color: #aad4cf;
    background-image: url(../image/lone-starfish-wide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 90px;
    padding-bottom: 90px;
   
    
}

.life-of-a-starfish{
    background-color: #aad4cf;
    background-image: url(../image/lone-starfish.jpg);
    background-position: left;
    width: 95px;
    height: 95px;


    
}
.contact{
    box-sizing: border-box;
}
nav.squre{
    width: 12%;
    float: top left;
    box-sizing: border-box;
    list-style-type: square;
}
 nav ul li{
    display: inline-block;
    margin-right: 20px;
    height: 20px;
    padding: 20px;
}

.facts-about-starfish h3{
    float: left;
    width: 20%;
   
}

footer{
    background-color:#aad4cf;
    padding: 20px;
    
}