html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}




.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #c78c06;
  color: black;
}

.topnav a.active {
  background-color: #c78c06;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

@media screen and (min-width: 900px) {
	.topnav a, .topnav-right {
	  float: none;
	  display: block;
	}
}
	.topnav-centered a {
	  position: relative;
	  top: 0;
	  left: 0;
	  transform: none;
	}
  
  .logo{
    background-image:url(../images/logo.png);
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  .welcome{
    background-image:url(../images/main-banner.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-us{
    background-image:url(../images/about-us.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .digital{
    background-image:url(../images/digital.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .marketing{
    background-image:url(../images/marketing.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .video{
    background-image:url(../images/video.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .web{
    background-image:url(../images/web.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .print{
    background-image:url(../images/print.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .vision{
    background-image:url(../images/vision.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .john{
    background-image:url(../images/john.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bob{
    background-image:url(../images/bob.jpg);
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  


  /* for phone*/
@media screen and (min-width:1200px) {
	

h1{
  font-size: 2rem;
}
h2{
  font-size: 2rem;
}
p{
  font-size: medium;
}
.wrapper{
  margin: auto;
  max-width: 1200px;
}
}
/*for the mac or pc*/
@media screen and (min-width:760px) {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 3rem;
  }
  p{
    font-size: 1rem;
  }
  .wrapper{
    align-items: center;
    justify-content: center;
    margin: 27px;
    margin-right: 27px;
  }
}
.welcome button{
  border-radius: 30px;
  color: white;
  background-color: #c78c06;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}


.digital button{
  border-radius: 30px;
  color: white;
  background-color:black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}
.marketing button{
  border-radius: 30px;
  color: white;
  background-color:black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}
.video button{
  border-radius: 30px;
  color: white;
  background-color:black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}
.web button{
  border-radius: 30px;
  color: white;
  background-color:black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}
.print button{
  border-radius: 30px;
  color: white;
  background-color:black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}
.vision button{
  border-radius: 30px;
  color: white;
  background-color:black;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
  border: none;
}
/* our team*/
.team-contaner{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-self: center;
}
.team-contaner .teambox:nth-child(3){
  order: 1;
}
.textboxs{
  display: flex;
  flex-direction: column;
}
.contact-contaner{
  display: flex;
}
.contact-contaner .contact-box:nth-child(2){
  order:1;
}



  * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: white;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


.column {
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.table {
  box-sizing: border-box;
  float: right;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  content: "";
  display: table;
  clear: both;
}
